name: CI

on:
  schedule:
    - cron: '*/15 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Run a multi-line script
        run: |
          date
          echo Add other actions to build,
          echo test, and deploy your project.


